<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Esqueceu a senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class='ion-justify-content-center'>
      <ion-col
        size-xs='12'
        size-sm='8'
        size-md='6'
        size-lg='4'
        size-xl='3'
      >
        <form
          [formGroup]="form"
          (ngSubmit)="signInWithEmail()"
          *ngIf="!emailSent"
        >
          <app-input-icon-valild
            ngDefaultControl
            name='email'
            [form]='form'
            [autofocus]='true'
          ></app-input-icon-valild>

          <div class="justify-content-end">
            <ion-button
              slot='end'
              color="primary bold"
              fill='clear'
              type="submit"
              [disabled]="!form.valid"
            >
              Enviar email
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class='ion-justify-content-center'>
    <ion-col
      size-xs='12'
      size-sm='8'
      size-md='6'
      size-lg='4'
      size-xl='3'
    >

      <ion-card
        class='padding-2'
        *ngIf="emailSent"
      >

        <ion-card-header>
          <ion-card-title color='success'>SUCESSO!!!</ion-card-title>
        </ion-card-header>

        <ion-card-content class='padding-2'>
          Em breve você receberá um email para resetar a sua nova senha.
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>

<ion-footer
  class="footer"
  (click)="navigatePop()"
>
  <ion-toolbar color='light'>
    <span>
      Já tem uma conta?
      <strong class='bold primary pointer'>Faça login</strong>
    </span>
  </ion-toolbar>
</ion-footer>
