<ion-item-sliding #sliding>

  <ion-item>{{ responsaveis.nome | titlecase }}</ion-item>

  <ion-item-options side='start'>
    <ion-item-option
      color='danger'
      (click)='delete.emit(responsaveis); sliding.close()'
    >
      <ion-icon
        slot='icon-only'
        name='trash'
      ></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item-options side='end'>
    <ion-item-option (click)="update.emit(responsaveis); sliding.close()">
      <ion-icon
        slot="icon-only"
        name='create'
      ></ion-icon>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>
